---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import License from "../../components/widgets/License.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((blog: { slug: any }) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}
interface Props {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await blog.render();
---

<BaseLayout title={blog.data.title} image={blog.data.image} headings={headings} showTOC={true}>
  <PostCard
    transition:name={`blog-${blog.slug}`}
    title={blog.data.title}
    image={blog.data.image}
    pubDate={blog.data.pubDate}
    badge={blog.data.badge}
    categories={blog.data.categories}
    tags={blog.data.tags}
    word={remarkPluginFrontmatter.totalCharCount}
    time={remarkPluginFrontmatter.readingTime}
    detail="true"
  >
    <div id="content" class="content-container" style="max-height: 0px;">
      <Content />
      <License
        title={blog.data.title}
        image={blog.data.image}
        pubDate={blog.data.pubDate}
        badge={blog.data.badge}
        categories={blog.data.categories}
        tags={blog.data.tags}
        word={remarkPluginFrontmatter.totalCharCount}
        time={remarkPluginFrontmatter.readingTime}
      />
    </div>
  </PostCard>
</BaseLayout>

<style>
  .content-container {
    transition: max-height 1.5s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .content-container {
      transition: none;
    }
  }
  .fade-in {
    animation: fadeIn 0.8s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const content = document.getElementById("content");
    const bgImage = document.getElementById("bgImage");
    const image = document.getElementById("imageContainer");
    const blog = document.getElementById("postContainer");
    if (blog && content) {
      setTimeout(() => {
        blog.classList.remove("w-3/4");
        blog.classList.add("w-full", "open");
        setTimeout(() => {
          if (image && bgImage) {
            bgImage.classList.add("hidden");
            image.style.maxHeight = image.scrollHeight + "px";
          }
          setTimeout(() => {
            content.style.maxHeight = content.scrollHeight + "px";
          }, 800);
        }, 500);
      }, 200);
    }
  });
</script>
