---
interface Props {
  number: string | number;
  current: number;
  baseUrl: string;
  isActive?: boolean;
}

const { number, current, baseUrl } = Astro.props;
const href = number == 1 ? baseUrl : `${baseUrl}/${number}`;
---

<a
  href={href}
  title={`Page ${number}`}
  aria-label={`Page ${number}`}
  class:list={["join-item btn bg-base-100", number === current && "btn-active"]}
>
  {number}
</a>
