---
import dayjs from "dayjs";
import { Image } from "astro:assets";
import License from "../components/License.astro";
import CommentWaline from "./CommentWaline.astro";
import CardVertical from "../layouts/CardVertical.astro";
import { DATE_FORMAT } from "../consts";
import type { CardInfo } from "../types";
import { t } from "i18next";
const {
  title = "undefined",
  image,
  pubDate,
  badge,
  categories,
  tags,
  word,
  time,
  isBlog = false,
  comment = false,
  url = decodeURIComponent(Astro.url.toString()),
} = Astro.props as CardInfo;
const displayDate = dayjs(pubDate).format(DATE_FORMAT);
const hasTategories = categories && categories.length > 0;
const hasTags = tags && tags.length > 0;
---

<CardVertical>
  {
    image && (
      <Image
        src={image}
        width="1920"
        height="1080"
        format="webp"
        alt={title}
        class="card-img"
        loading="eager"
        slot="image"
      />
    )
  }
  {
    isBlog && (
      <>
        <h1 id="h1" class="mt-2 fade-in-up">
          {title}
        </h1>
        <div class="mt-2 fade-in-up">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              {displayDate && (
                <div class="badge badge-neutral">{displayDate}</div>
              )}
              {badge && <div class="badge badge-primary">{badge}</div>}
            </div>
            {time && (
              <div class="badge whitespace-nowrap">{`${time} ${t("label.readTime")}`}</div>
            )}
          </div>
          <div class="flex items-center justify-between mt-2">
            <div class="flex items-center gap-2 flex-wrap">
              {hasTategories ? (
                categories.map((categoroy) => (
                  <>
                    <a
                      href={`/blog/categories/${categoroy}`}
                      class="btn btn-xs btn-accent"
                    >
                      {categoroy}
                    </a>
                  </>
                ))
              ) : (
                <div class="btn btn-xs btn-secondary btn-disabled rounded-full">
                  {t("label.noCategory")}
                </div>
              )}
              {hasTags ? (
                tags.map((tag) => (
                  <>
                    <a
                      href={`/blog/tags/${tag}`}
                      class="btn btn-xs btn-secondary"
                    >
                      {tag}
                    </a>
                  </>
                ))
              ) : (
                <div class="btn btn-xs btn-secondary btn-disabled">
                  {t("label.noTag")}
                </div>
              )}
            </div>
            {word && (
              <div class="badge  whitespace-nowrap">{`${word} ${t("label.wordCount")}`}</div>
            )}
          </div>
        </div>
        <hr class="mt-6" />
      </>
    )
  }
  <slot />
  {
    isBlog && (
      <>
        <License title={title} url={url} />
        {comment && <CommentWaline />}
      </>
    )
  }
</CardVertical>
