---
import { Image } from "astro:assets";
import dayjs from "dayjs";
const {
  title,
  image,
  desc,
  pubDate,
  url,
  badge,
  tags,
  target = "_blank",
} = Astro.props;
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
const displayDate = dayjs(pubDate).format('ddd MMM DD YYYY');
---

<div class="envelope-back" transition:animate="slide">
  <div class="envelope-image">
    {
      image && (
        <Image
          src={image}
          width="300"
          height="200"
          format="webp"
          alt={title}
          class="image"
          loading="lazy"
        />
      )
    }
  </div>
  <div class="envelope-card">
    <a href={url} target={target}>
      <div class="envelope-info">
        <h1 class="envelope-title">
          {badge && <div class="badge">{badge}</div>}
          {title}
        </h1>
        <div class="desc">{desc}</div>
        <div class="info">
          {displayDate && <div class="data">{displayDate}</div>}
          <div class="tags">
            {
              tags &&
                tags.map((tag) => (
                  <a href={`${tag_url}/${tag}`} class="tag">
                    {tag}
                  </a>
                ))
            }
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
