---
import { menuItems } from "../consts.ts";
---

<ul
  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow-xl lg:hidden"
>
  {
    menuItems.map((item) => (
      <li>
        <a
          tabindex="0"
          class="menu-item text-xl font-bold p-4"
          id={`header-${item.id}`}
          title={item.id}
          href={item.href}
          target={item.target || "_self"}
          aria-label={item.text}
        >
          {item.text}
        </a>
      </li>
    ))
  }
</ul>
