---
import { Icon } from "astro-icon/components";
import { SITE_THEME, SITE_TITLE, SITE_MENU } from "../config";
---

<div class="col-span-1 md:col-span-5 bg-opacity-0 order-1">
  <div class="navbar transition bg-base-100 rounded-xl">
    <div class="navbar-start">
      <a class="btn btn-ghost text-xl">{SITE_TITLE}</a>
    </div>
    <div class="navbar-center flex items-center gap-2">
      {
        SITE_MENU.map((icon) => (
          <div>
            {icon.subItems ? (
              <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn btn-ghost text-xl">
                  <Icon name={icon.svg} />
                  <div class="hidden md:block">{icon.text}</div>
                </div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box lg:w-52 z-[1] p-2 shadow">
                  {icon.subItems.map((icon) => (
                    <li>
                      <a
                        tabindex="0"
                        class="btn btn-ghost text-xl"
                        id={icon.id}
                        href={icon.href}
                        target={icon.target}
                        aria-label={icon.text}
                      >
                        <Icon name={icon.svg} />
                        <div class="hidden md:block">{icon.text}</div>
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ) : (
              <a
                tabindex="0"
                class="btn btn-ghost text-xl"
                id={icon.id}
                href={icon.href}
                target={icon.target}
                aria-label={icon.text}
              >
                <Icon name={icon.svg} />
                <div class="hidden md:block">{icon.text}</div>
              </a>
            )}
          </div>
        ))
      }
    </div>
    <div class="navbar-end">
      <label class="flex cursor-pointer gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="5"></circle>
          <path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
          ></path>
        </svg>
        <input type="checkbox" value={SITE_THEME.dark} class="toggle theme-controller" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </label>
    </div>
  </div>
</div>
