---
import { menuItems } from "../consts.ts";
import { Icon } from "astro-icon/components";
---

<ul
  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-60 p-2 shadow-xl"
  id="header-menu"
>
  {
    menuItems.map((item) => (
      <li class="w-full relative">
        {item.subItems ? (
          <details class="menu-item">
            <summary class="justify-start items-center text-center text-xl font-bold p-4">
              <Icon name={item.svg} />
              <span class="ml-2">{item.text}</span>
            </summary>
            <ul>
              {item.subItems.map((subItem) => (
                <li>
                  <a
                    tabindex="0"
                    class="menu-item text-xl font-bold p-4"
                    id={`header-${subItem.id}`}
                    href={subItem.href}
                    target={subItem.target || "_self"}
                    aria-label={subItem.text}
                  >
                    <Icon name={subItem.svg} />
                    <span class="ml-2">{subItem.text}</span>
                  </a>
                </li>
              ))}
            </ul>
          </details>
        ) : (
          <a
            tabindex="0"
            class="flex justify-start items-center text-center text-xl font-bold p-4"
            id={item.id}
            title={item.id}
            href={item.href}
            target={item.target || "_self"}
            aria-label={item.text}
          >
            <Icon name={item.svg} />
            <span class="ml-2">{item.text}</span>
          </a>
        )}
      </li>
    ))
  }
</ul>
