---
import dayjs from "dayjs";
import { DATE_FORMAT } from "../config";
import type { PostData } from "../interface/data";
import { Icon } from "astro-icon/components";
import Heading from "./widgets/Heading.astro";
import PostInfo from "./widgets/PostInfo.astro";
import PostFilter from "./widgets/PostFilter.astro";
import BaseCard from "./BaseCard.astro";
import { t } from "i18next";

const {
  title,
  image,
  pubDate,
  badge,
  categories = [],
  tags = [],
  word = "0",
  time = "0",
  detail = false,
  url = decodeURIComponent(Astro.url.toString()),
} = Astro.props as PostData;

const displayDate = pubDate ? dayjs(pubDate).format(DATE_FORMAT) : "";
---

<div
  data-transition-card
  data-slug={url.split("/").pop()}
  style={{
    "--vt-name": `post-card-${url.split("/").pop()}`,
    "view-transition-name": `post-card-${url.split("/").pop()}`,
  }}
  class="transition-all duration-500 ease-[cubic-bezier(0.33,1,0.68,1)]"
>
  <BaseCard image={image} title={title} detail={detail}>
    <PostInfo pubDate={displayDate} badge={badge} word={word} time={time} />
    <Heading url={url} title={title}>{title}</Heading>
    <PostFilter categories={categories} tags={tags} />
    <article class="prose w-full max-w-none">
      <slot />
    </article>
  </BaseCard>
</div>
