---
const { title, img, desc, url, badge, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl hover:transition-all ease-in-out hover:scale-[102%] link-card"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={100}
            height={100}
            format="webp"
            alt={title}
            loading="eager"
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
      </div>
    </div>
  </a>
</div>
