---
import type { Post, Page } from "../../../../types";
import EnvelopeCard from "../../../../components/EnvelopeCard.astro";
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import BaseCard from "../../../../components/BaseCard.astro";
import Pagination from "../../../../widget/Pagination.astro";
import { getCollection } from "astro:content";
import { t } from "i18next";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const all_posts = await getCollection("blog");

  const all_categories = [
    ...new Set(all_posts.flatMap((post: any) => post.data.categories || [])),
  ];

  all_posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  const postsWithStats = await Promise.all(
    all_posts.map(async (post) => {
      const { remarkPluginFrontmatter } = await post.render();
      return {
        ...post,
        remarkPluginFrontmatter: {
          readingTime: remarkPluginFrontmatter.readingTime,
          totalCharCount: remarkPluginFrontmatter.totalCharCount,
        },
      };
    }),
  );

  return all_categories.flatMap((category) => {
    const filtered_posts = postsWithStats.filter((post) =>
      post.data.categories?.includes(category),
    );
    return paginate(filtered_posts, {
      params: { category },
      pageSize: 8,
    });
  });
}

const { page } = Astro.props as { page: Page };
const params = Astro.params as { category: string; page: string };

function generatePageLinks(totalPages: number): {
  active: string[];
  hidden: string[];
} {
  const pages = {
    active: [] as string[],
    hidden: [] as string[],
  };

  if (totalPages > 3) {
    pages.active.push("1");
    pages.active.push("...");
    pages.active.push(totalPages.toString());
    for (let i = 2; i <= totalPages - 1; i++) {
      pages.hidden.push(i.toString());
    }
  } else {
    for (let i = 1; i <= totalPages; i++) {
      pages.active.push(i.toString());
    }
  }
  return pages;
}

const totalPages = Math.ceil(page.total / page.size);
const pageLinks = generatePageLinks(totalPages);
---

<BaseLayout title="Category">
  <BaseCard title="Category">
    <h1 id="h1">{`${t("label.categoryPage")} - ${params.category}`}</h1>
    <hr />
  </BaseCard>
  {
    page.data.map((post: Post) => (
      <EnvelopeCard
        title={post.data.title}
        image={post.data.image}
        desc={post.data.description}
        url={"/blog/" + post.slug}
        pubDate={post.data.pubDate}
        badge={post.data.badge}
        categories={post.data.categories}
        tags={post.data.tags}
        word={post.remarkPluginFrontmatter.totalCharCount}
        time={post.remarkPluginFrontmatter.readingTime}
        target="_self"
      />
    ))
  }

  <Pagination
    page={page}
    totalPages={totalPages}
    pageLinks={pageLinks}
    baseUrl={`/blog/categories/${params.category}`}
  />
</BaseLayout>
