---
import "medium-zoom/dist/style.css";
import { SITE_TAB, SITE_TITLE, SITE_DESCRIPTION, SITE_FAVICON, SITE_LANGUAGE, SITE_THEME } from "../config";
import { ClientRouter } from "astro:transitions";
import i18next, { changeLanguage } from "i18next";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";

changeLanguage(SITE_LANGUAGE);
const { title, image } = Astro.props;
---

<!doctype html>
<html lang={i18next.language} class="transition bg-base-300" data-theme={SITE_THEME.light}>
  <head>
    <ClientRouter>
      <script is:inline>
        // 视图过渡配置
        document.documentElement.style.viewTransitionName = "none";
        const transition = () => {
          document.documentElement.style.viewTransitionName = "slide";
          return new Promise((resolve) => requestAnimationFrame(resolve));
        };

        addEventListener("astro:before-preparation", transition);
        addEventListener("astro:after-swap", () => {
          document.documentElement.style.viewTransitionName = "none";
        });
      </script>
    </ClientRouter>
    <Header title={SITE_TITLE} description={SITE_DESCRIPTION} favicon={SITE_FAVICON} image={image} />
    <title class="sr-only">{`${title} - ${SITE_TAB}`}</title>
    <script define:vars={{ SITE_THEME }} is:inline>
      (function () {
        const storedTheme = localStorage.getItem("theme");
        const userPreferredTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
          ? SITE_THEME.light
          : SITE_THEME.dark;
        const theme = userPreferredTheme || storedTheme;
        document.documentElement.setAttribute("data-theme", theme);
      })();
    </script>
  </head>
  <body>
    <div class="max-w-6xl mx-auto">
      <div class="relative grid grid-cols-1 md:grid-cols-5 lg:grid-cols-4 gap-4 p-4">
        <section class="col-span-1 top-4 bg-opacity-0 order-1">
          <Sidebar />
          <slot name="sidebar" />
        </section>
        <main class="col-span-3 md:col-span-4 lg:col-span-3 bg-opacity-0 order-2">
          <div class="flex flex-col gap-4">
            <slot />
            <Footer />
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
